h1 {
    font-family: sans-serif;
    color: red;
    font-size: 40px;
    text-align: center;
}
body{
    background-color: rgb(236, 217, 217);
}

form{
    text-align: center;
    background-color: rgb(43, 224, 119);
    padding:30px;
    margin: 60px;
    border-radius: 100px;
    border-style:solid
}
.nome {
    font-style: italic;
    font-size: 20px;
    padding: 1px;
    margin: 30px;
    border-radius:25px;
}

.nome input{
    padding: 5px;
    border: bottom 100px;
}